/*

Theme Name: PetCare
Theme URI: http://themeforest.net/item/pet-care-dog-kennels-wordpress-themes/8001940
Author: Lee Grant
Author URI: http://themeforest.net/user/leegrant
Description: PetCare offers an all-in-one solution for your dog boarding/walking service website.
Version: 1.0.4

*/
@media only screen  and (min-device-width: 320px)  and (max-device-width: 480px) {
.prev-next .prev-page, .prev-next .next-page {
    overflow: visible !important;
    width: 100%;
    float: left;
}

span.glyphicon.glyphicon-chevron-left {
    width: auto;
    float: left;
}

span.prev-page a {
    width: auto;
    float: left;
}
}
