@charset "utf-8";
/* CSS Document */

table.custom_form-table td {
    width: 10%;
    padding: 0 10px;
}
table.custom_form-table{text-align:left;}
table.custom_form-table select {
    width: 100%;
	margin: 10px 0 0;
}
table.custom_form-table th {
    padding: 0 0 0 10px;
}
table.pedsatyam {
  width: 100%;
}
table.pedsatyam th{
  width: 3%;
}
.samd{padding:0 0 35px 0;}
table.pedsatyam tr td {
    color: #65c178;
    padding-left: 0;
}


@media only screen  and (min-device-width: 320px)  and (max-device-width: 480px) {
.prev-next .prev-page, .prev-next .next-page {
    overflow: visible !important;
    width: 100%;
    float: left;
}

span.glyphicon.glyphicon-chevron-left {
    width: auto;
    float: left;
}

span.prev-page a {
    width: auto;
    float: left;
}
}
div#acf-pedigree {
  display: none;
}