/*
Theme Name:   Petcare Child
Theme URI:    http://example.com/petcare-child/
Description:  Petcare Child Theme
Author:       Marketing Mindz
Author URI:   http://www.marketingmindz.com
Template:     PetCare
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  petcare-child
*/

/* =Theme customization starts here  
-------------------------------------------------------------- */
@import url("../PetCare/style.css");


/** ADOPTION PAGE MODIFIED by MUKESH  **/


.blog-holder .posts a.post-image{ height:200px; }
.blog-holder .posts p.post-img-wrap a img{ width:100% !important; height:100% !important; }
.adoption div a{ height:300px; }
.adoption div a img{ width:100% !important; height:100% !important; }

.carousel-inner>.next, .carousel-inner>.prev{ position:static !important; }

/** ADOPTION PAGE  **/